.product {
  height: auto;
  width: 345px;
  margin: 60px;
  display: inline-block;
}
.title {
  margin-top: 60px;
  width: 800px;
  display: inline;
  position: absolute;
  font-size: 24px;
  font-weight: bold;
}
.itemtext {
  margin-top: 120px;
  width: 800px;
  display: inline;
  position: absolute;
  font-size: 18px;
}
.price {
  margin-top: 325px;
  width: 800px;
  display: inline;
  position: absolute;
  font-size: 20px;
}
.buylink {
  margin-top: 365px;
  /* width: 125px; */
  height: 25px;
  display: inline;
  position: absolute;
  font-size: 14px;
  /* font-weight: bold; */
  background-color: #eb5a5a;
  padding: 2px 14px;
  color: white;
